html,
body {
 height: 100%;
 position: relative;
}
.bedroom{
    position: relative;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 50px;  
    overflow: hidden;
 
    
}

#bathroom-left-tab{
    margin-top: 1vh;
}

