html, body {
 height: 100%;
 position: relative;
}

.about{
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline{
    width: 80vw;
}
.css-1jv1kel p, h4{
    display: none;
}

